<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<style>
    body {
        background-image: url("https://media.istockphoto.com/photos/paper-garland-on-beige-background-for-childrens-and-adult-holiday-picture-id1060591550?b=1&k=20&m=1060591550&s=170667a&w=0&h=eUgnhFf1-OkVYznIliHpHWdNzLJjjbTGUGdtejq826E=");
    }
</style>
<body>
    <div class="container">
        <div class="header">
            <h1>Edit a name</h1>
            <div class="d-flex justify-content-around col-6">
                <a href="/dashboard">Dashboard</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
            <div class="edit_name">
                <form action="/names/{{ name.id }}/update" method="post">
                    <p>
                        Name:
                        <input type="text" name="name" id="" value={{ name.name }}>
                    </p>
                    <p>
                        Meaning:
                        <input type="text" name="meaning" id="" value={{ name.meaning }}>
                    <p>
                        Origin:
                        <input type="text" name="origin" id="" value={{ name.origin }}>
                    </p>
                    <p>
                        Pronounciation:
                        <input type="text" name="pronounciation" id="" value={{ name.pronounciation }}>
                    </p>
                    <button class="btn btn-primary">Edit</button>
                </form>
            </div>
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <p class="text-danger">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</html>